@model System.Data.DataTable
@{
    ViewBag.Title = ERP_V2.CacheCommonDataModule.GetPageName("RP01");
}
<script>
    function BtnSearchClick(s, e) {
        GridView.PerformCallback();
    }
    function GridViewBegCallback(s, e) {
        e.customArgs["BA02A_ID"] = CboProduct.GetValue();
        e.customArgs["DateBeg"] = DateBeg.GetText();
        e.customArgs["DateEnd"] = DateEnd.GetText();
    }
    function BtnExportClick(s, e) {
        if (GridView.GetVisibleRowsOnPage() == 0) {
            ShowError('請先篩選資料');
            return;
        }
        var form = $('<form enctype="application/json"></form>');
        form.attr("method", "post");
        form.attr("action", '@Url.Action("ExportToExcel1", "RP01V2")');

        var field = $('<input></input>');
        field.attr("type", "hidden");
        field.attr("name", "BA02A_ID");
        field.attr("value", CboProduct.GetValue());
        form.append(field);

        var field2 = $('<input></input>');
        field2.attr("type", "hidden");
        field2.attr("name", "DateBeg");
        field2.attr("value", DateBeg.GetText());
        form.append(field2);

        var field3 = $('<input></input>');
        field3.attr("type", "hidden");
        field3.attr("name", "DateEnd");
        field3.attr("value", DateEnd.GetText());
        form.append(field3);

        $(document.body).append(form);
        form.submit();
    }
</script>
<div style="margin-left:10px">
    <div style="margin-top:10px;height:30px">
        <div style="float:left;display:inline-block;margin-right:5px">
            @Html.DevExpress().ComboBox(settings =>
                             {
                                 settings.Name = "CboProduct";
                                 settings.Properties.Caption = Resources.Resource.BA02A_ITM_NM;
                                 settings.Properties.TextField = "ITM_NM";
                                 settings.Properties.ValueField = "BA02A_ID";
                                 settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
                             }).BindList(ERP_V2.CacheCommonDataModule.GetBA02A()).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-right:5px">
            @Html.DevExpress().DateEdit(settings =>
                             {
                                 settings.Name = "DateBeg";
                                 settings.Properties.Caption = Resources.Resource.DateRangBeg;
                                 settings.Date = DateTime.Now.AddMonths(-1);
                                 settings.Properties.DisplayFormatString = "yyyy/MM/dd";
                                 settings.Properties.EditFormatString = "yyyy/MM/dd";
                             }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-right:5px">
            @Html.DevExpress().DateEdit(settings =>
                             {
                                 settings.Name = "DateEnd";
                                 settings.Properties.Caption = Resources.Resource.DateRangEnd;
                                 settings.Date = DateTime.Now;
                                 settings.Properties.CaptionSettings.ShowColon = false;
                                 settings.Properties.DisplayFormatString = "yyyy/MM/dd";
                                 settings.Properties.EditFormatString = "yyyy/MM/dd";
                             }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-top:-4px;margin-right:5px">
            @Html.DevExpress().Button(settings =>
                             {
                                 settings.Name = "BtnSearch";
                                 settings.Text = "Search";
                                 settings.Images.Image.Url = "~/Content/Icon/search.png";
                                 settings.ClientSideEvents.Click = "BtnSearchClick";
                             }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-top:-4px;margin-right:5px">
            @Html.DevExpress().Button(settings =>
                      {
                          settings.Name = "BtnExport";
                          settings.Text = "Export";
                          settings.ClientSideEvents.Click = "BtnExportClick";//"function Export(s,e){ GridView.ExportTo('Xlsx');}";
                 }).GetHtml()
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("GridView");
        }
    </div>
</div>
<br />
<script>
    function BtnSearch2Click(s, e) {
        GridView2.PerformCallback();
    }
    function GridView2BegCallback(s, e) {
        e.customArgs["TYP_ID"] = TYP_ID.GetValue();
        e.customArgs["Year"] = Year.GetValue();
        e.customArgs["Month"] = Month.GetValue();
    }
    function GridView2EndCallback(s, e) {
        chart.PerformCallback();
    }
    function BtnExportClick2(s, e) {
        if (GridView2.GetVisibleRowsOnPage() == 0) {
            ShowError('請先篩選資料');
            return;
        }
        var form = $('<form enctype="application/json"></form>');
        form.attr("method", "post");
        form.attr("action", '@Url.Action("ExportToExcel2", "RP01V2")');

        var field = $('<input></input>');
        field.attr("type", "hidden");
        field.attr("name", "TYP_ID");
        field.attr("value", TYP_ID.GetValue());
        form.append(field);

        var field2 = $('<input></input>');
        field2.attr("type", "hidden");
        field2.attr("name", "Year");
        field2.attr("value", Year.GetValue());
        form.append(field2);

        var field3 = $('<input></input>');
        field3.attr("type", "hidden");
        field3.attr("name", "Month");
        field3.attr("value", Month.GetValue());
        form.append(field3);

        $(document.body).append(form);
        form.submit();
    }
</script>
<div style="margin-left:10px">
    <div style="margin-top:10px;height:30px">
        <div style="float:left;display:inline-block;margin-right:5px">
            @Html.DevExpress().ComboBox(settings =>
                            {
                                settings.Name = "TYP_ID";
                                settings.Properties.Caption = Resources.Resource.TYP_ID;
                                settings.Properties.ValueField = "value";
                                settings.Properties.TextField = "key";
                                settings.SelectedIndex = 0;
                            }).BindList(ERP_V2.CacheCommonDataModule.GetBA04A(ERP_V2.UserInfo.LanguageType, false).Where(x => x.Value > 0)).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-right:5px">
            @Html.DevExpress().ComboBox(settings =>
            {
                settings.Name = "Year";
                settings.Properties.Caption = Resources.Resource.Year;

                for (int i = DateTime.Now.Year; i >= 2018; i--)
                {
                    settings.Properties.Items.Add(i.ToString(), i);
                }

                settings.SelectedIndex = 0;
            }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-right:5px">
            @Html.DevExpress().ComboBox(settings =>
                            {
                                settings.Name = "Month";
                                settings.Properties.Caption = Resources.Resource.Month;
                                for (int i = 1; i < 13; i++)
                                {
                                    settings.Properties.Items.Add(i.ToString(), i);
                                }
                                settings.SelectedIndex = DateTime.Now.Month - 2;
                                if (DateTime.Now.Month - 2 <= 0)
                                {
                                    settings.SelectedIndex = 0;
                                }
                            }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-top:-4px;margin-right:5px">
            @Html.DevExpress().Button(settings =>
                            {
                                settings.Name = "BtnSearch2";
                                settings.Text = "Search";
                                settings.Images.Image.Url = "~/Content/Icon/search.png";
                                settings.ClientSideEvents.Click = "BtnSearch2Click";
                            }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-top:-4px;margin-right:5px">
            @Html.DevExpress().Button(settings =>
                       {
                           settings.Name = "BtnExport2";
                           settings.Text = "Export";
                           settings.ClientSideEvents.Click = "BtnExportClick2";//"function Export(s,e){ GridView.ExportTo('Xlsx');}";
                  }).GetHtml()
        </div>
    </div>
    <div style="height:520px">
        <div style="display:inline-block; float:left">
            @{
                Html.RenderAction("GridView2");
            }
        </div>
        <div style="display:inline-block; float:left; ">
            @{
                Html.RenderAction("ChartPartial");
            }
        </div>
    </div>
</div>
<br />
<script>
    function BtnSearchClick3(s, e) {
        GridView3.PerformCallback();
    }
    function GridViewBegCallback3(s,e) {
        e.customArgs["Year"] = Year3.GetValue();
    }
    function GridViewEndCallback3() {
        Chart3.PerformCallback();
    }
    function BtnExportClick3(s, e) {
        if (GridView3.GetVisibleRowsOnPage() == 0) {
            ShowError('請先篩選資料');
            return;
        }
        var form = $('<form enctype="application/json"></form>');
        form.attr("method", "post");
        form.attr("action", '@Url.Action("ExportToExcel3", "RP01V2")');

        var field = $('<input></input>');
        field.attr("type", "hidden");
        field.attr("name", "TYP_ID");
        field.attr("value", TYP_ID.GetValue());
        form.append(field);

        var field2 = $('<input></input>');
        field2.attr("type", "hidden");
        field2.attr("name", "Year");
        field2.attr("value", Year.GetValue());
        form.append(field2);

        var field3 = $('<input></input>');
        field3.attr("type", "hidden");
        field3.attr("name", "Month");
        field3.attr("value", Month.GetValue());
        form.append(field3);

        $(document.body).append(form);
        form.submit();
    }
</script>
<div style="margin-left:10px">
    <div style="margin-top:10px;height:30px">
        <div style="float:left;display:inline-block;margin-right:5px">
            @Html.DevExpress().ComboBox(settings =>
            {
                settings.Name = "Year3";
                settings.Properties.Caption = Resources.Resource.Year;

                for (int i = DateTime.Now.Year; i >= 2018; i--)
                {
                    settings.Properties.Items.Add(i.ToString(), i);
                }

                settings.SelectedIndex = 0;
            }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-top:-4px;margin-right:5px">
            @Html.DevExpress().Button(settings =>
                 {
                     settings.Name = "BtnSearch3";
                     settings.Text = "Search";
                     settings.Images.Image.Url = "~/Content/Icon/search.png";
                     settings.ClientSideEvents.Click = "BtnSearchClick3";
                 }).GetHtml()
        </div>
        <div style="float:left;display:inline-block;margin-top:-4px;margin-right:5px">
            @Html.DevExpress().Button(settings =>
                 {
                     settings.Name = "BtnExport3";
                     settings.Text = "Export";
                     settings.ClientSideEvents.Click = "BtnExportClick3";//"function Export(s,e){ GridView.ExportTo('Xlsx');}";
            }).GetHtml()
        </div>
    </div>
    @{
        Html.RenderAction("GridView3");
    }
</div>
@{
    Html.RenderAction("ChartPartial3");
}
<br />
